/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('http://bit.ly/2moT3h6');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: cover;
    background-color: #32312f;
    font-family: 'Telex', sans-serif;
}


.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button {
    margin: 0 auto;
    
}

.disastertop {
    background-color: rgba(243,225,204, .2);
    color: white;
    text-align: center;
    border-radius: 2px;
}

.disasterbottom {
    background-color: rgba(243,225,204, .2);
    color: white;
    text-align: center;
    border-radius: 2px;
    font-size: small;

    a {
        text-decoration: none;
        color: lightblue;
    }
}

